{% load static %}
<link rel="stylesheet" href="{% static 'css/posts/comment.css' %}">

    <form class="comment-form" action="" method="POST">

        {% csrf_token %}

        <input type="hidden" name="user" value="{{request.user.username}}">
        <input type="hidden" name="commented_post" value="{{post.pk}}">

            <input type="text" class="comment-space" name="comment_text" placeholder="Agregar un comentario...">

            <button type="submit" class="submit-comment">
                <p class="button-text"><strong>Publicar</strong></p>
            </button>

    </form>
