{% load static %}
<link rel="stylesheet" href="{% static 'css/posts/comment_form.css' %}">
    
    <form class="comment-form" action="{% url 'posts:new-comment' post.pk %}" method="POST">

        {% csrf_token %}
         
        <input type="hidden" name="post" value="{{post.pk}}">
        <input type="hidden" name="user" value="{{request.user.pk}}">
        <input type="text" class="comment-space" name="text" id="text-input"
        placeholder="Agregar un comentario..." onkeyup="myfun()">
         
        <div class="submit-comment" id="text-div" >
            <p class="disabled-button-text">Publicar</p>
        </div>
        
        <button type="submit" class="submit-comment" id="submit-button" disabled="true" hidden="true">
            <p class="button-text"><strong>Publicar</strong></p>
        </button>

    </form>

    <script type="text/javascript">

    function myfun(){

        //debugger;
    
        let my_input = document.querySelector('#text-input').value;
        let my_div = document.getElementById('text-div');
        let submit_button = document.querySelector('#submit-button');
    
        console.log(my_input);
        //my_input.textLength

        if (my_input !== '') {
            submit_button.disabled = false;
            submit_button.hidden = false;
            my_div.hidden = true

        } else {
            submit_button.disabled = true;
            submit_button.hidden = true
            my_div.hidden = false
        }
    }
                
    
    </script>

