{% load static %}
<link rel="stylesheet" href="{% static 'css/posts/comment_form.css' %}">
    
    <form class="comment-form" action="{% url 'posts:new-comment' post.pk %}" method="POST">

        {% csrf_token %}
         
        <input type="hidden" name="post" value="{{post.pk}}">
        <input type="hidden" name="user" value="{{request.user.pk}}">
        <input type="text" class="comment-space" name="text" 
        id="text-input{{post.pk}}" placeholder="Agregar un comentario..."
        onkeyup="EnableButton('text-input{{post.pk}}', 'text-div{{post.pk}}', 'submit-button{{post.pk}}')">
         
        <div id="text-div{{post.pk}}" class="text-div">
            <p class="disabled-button-text">Publicar</p>
        </div>
        
        <button type="submit" class="submit-comment" id="submit-button{{post.pk}}" disabled="true" hidden="true">
            <p class="button-text"><strong>Publicar</strong></p>
        </button>

    </form>

    <script src="{% static 'js/posts/enable_button.js' %}" type="text/javascript"></script>

