{% load static %}
<style>
    form-button{
        border:none;
        background-color: transparent;
    }
</style>

<form action="{% url 'posts:save' %}" method="POST">
    {% csrf_token %}

    <input type="hidden" name="user" value="{{request.user.pk}}">
    <input type="hidden" name="post" value="{{post.pk}}">

    <button type="submit" class="form-button">
        {% if post.saved %}
        <img class="pic-icon" src="{% static 'images/tag_pushed.png' %}" height="22px">
        {% else %}
        <img class="pic-icon" src="{% static 'images/tag.png' %}" height="22px">
        {% endif %}
    </button>

</form>