{% extends 'base.html' %}

{% block title %}
<title>@{{request.user.username}} - Guardados</title>
{% endblock %}

{% block content %}
<style>
.user-posts{
    padding-top: 5% ;
    margin: 0 140px;
}

.user-pic{
    margin: 10px;
}


.contacts_link{
    text-decoration: none;
    color: black;
}

.info{
    color: grey;
    font-family: 'Varela', sans-serif;
    font-size: small;
    margin: 10px;
}
.text{
    color: black;
    font-family: 'Varela', sans-serif;
    font-size: 0.8em;
    font-weight: inherit;
    margin: 10px;
    text-align: center;
}
</style>


<div class="user-posts">
    <p class="info">Solo tú puedes ver lo que guardaste</p>
    {% if not saved_posts %}
    <p class="text">Aún no has guardado ningún post</p>
    {% else %}
    {% for post in saved_posts %}
    <a href="{% url 'posts:show-comments' post.pk %}">
        <img class="user-pic" src="{{post.picture.url}}" alt="" width="293px" height="293px"></a>
        
    {% endfor %}
    {% endif%}
</div>
{% endblock %}