html, body{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    flex-direction: column;
    width: 100%;
    margin: 0;
}


.form-container{
    display: flex;
    align-content: center;
    justify-content: center;
}

.register{
    border: 1px solid #8fabbf;
    max-width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 2.5em 1.3em;
    margin: 5px;
    width: 270px;
}

.icon{
    font-family: 'Lobster', cursive;
    font-weight: lighter;
    font-size: 2.6em;
    margin: 10px 0;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
}

form input{
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 0.8em;
    margin: 2px 0;
    width: 240px;
}

.form-button{
    background-color: #0095f6;
    border-color: #0095f6;
    padding: 5px 0;
    margin: 2px 0;
    width: 260px;
    text-align: center;
    margin-bottom: 5px;
}

.form-button p{
    color:ivory;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin:0;
    text-align: center;
    
}

.register-option{
    font-family: 'Varela', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: lighter;
    font-size: 0.9em;
    text-align: center;
    width: 260px;
    margin:0;

}

.register-option a{
    text-decoration: none;
    color: #0095f6;
    font-weight: bold;
}

.error-divisor{
    border: 1px solid #8fabbf;
    width: 280px;
    margin:1.5em;
}

.errorlist{
    font-family: 'Varela', sans-serif;
    font-size: 0.7em;
    color: red;
    list-style: none;
    margin: 0;
    padding: 0;
}

.my-error-alert{
    border: 1px solid red;
    border-radius: 5px;
}