body{
    display: flex;
    justify-content: center;
    align-content: center;
}

.content{
    border: 1px solid #8fabbf;
   
}

.container{
    padding: 7% 10%;

}

.comment-text{
    margin: 0 0 5px 0;
    font-family: 'Varela', sans-serif;
    font-size: 0.8em;
    font-weight: inherit;
    width: 300px;
    margin-top: 0;
}


.comment-date{
    margin: 0 20px 0 0;
    font-family: 'Varela', sans-serif;
    font-size: 0.5em;
    font-weight: inherit;
    margin-top: 0;
    color: gray;
    text-transform: uppercase;

}

.comment{
    display: flex;
    align-items: center;
}

.content{
    display: flex;
}

.user-data{
    display: flex;
    justify-content:left;
    align-items: center;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}

.divisor{
    border: 1px solid #8fabbf;
    width: inherit;
    margin: 0;
}

.top-div{
    display: flex;
    align-items: center;
}

.user{
    display: flex;
    
    flex-direction: column;
    justify-content: start;
    align-items: initial;
}

.comment-body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.profile-pic{
    border-radius: 50%;
    margin: 3px 10px 2px 0;
}

.content{
    border: 1px solid #8fabbf;
}

.comments{
    padding: 13px 22px;
    width: 390px;
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}

.icons{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0 22px;
    border-top: 1px solid #8fabbf;
}

.pic-icon{
    margin-right: 15px;
}

.left-icons{
    display: flex;
}

.info-pic-likes{
    font-family: 'Varela', sans-serif;
    font-size: 0.8em;
    font-weight: inherit;
    margin-bottom: 1px;
    margin-top: 0;
    padding: 0 22px 10px;
}

.comment-options{
    display: flex;
    justify-content: space-between;
}