<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--nav.css links-->
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet"> 
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/nav.css'%}">
    <link rel="stylesheet" href="{% static 'css/posts/dropdown_base.css'%}">
    <!--nav.css links-->
    {% block css %}
    {% endblock %}
    {% block title %}
    {% endblock %}
    {% include 'icon.html' %}
</head>
<body>

    {% include 'nav.html' %}

    {% block content %}
    {% endblock %}
    
</body>
</html>