{% load static %}

<header class="nav-space">
    <div class="icon">
        <a href="{% url 'users:profile' request.user.username %}">
            <img src="{% static 'images/instagram.svg' %}" width="25px" height="25px">
        </a> 
        <h2>instaclonegram</h2>
    </div>
    {% include 'search_button.html'%}
    <!--<a href="{% url 'posts:new-post' %}">
        <img src="{% static 'images/add.png' %}" height="25px">
    </a>-->
    
    <nav class="nav-menu">
        <ul>
            <li>
                <a href="{% url 'posts:home' %}">
                    <img src="{% static 'images/home.svg' %}" height="25px">
                </a>
            </li>
            {% include 'notifications.html' %}
            <li>
                <a href="{% url 'posts:new-post' %}">
                    <img src="{% static 'images/add.png' %}" height="25px">
                </a>
            </li>
            <li>
                <a href="{% url 'users:profile' request.user.username %}">
                    {% if request.user.profile.picture %}
                        <img src="{{request.user.profile.picture.url}}" height="30px" class="profile-pic">
                    {% else %}
                        <img src="{% static 'images/default-profile.png' %}" height="30px" class="profile-pic">
                    {% endif %}
                </a>
            </li>

        </ul>
    </nav>
</header>
