{% load static %}
<link rel="stylesheet" href="{% static 'css/posts/dropdown_base.css'%}">

<div class="dropdown">
  <button class="dropbtn">
    <img src="{% static 'images/options.png'%}" width="35px">
  </button>

  <div class="dropdown-content" style="float:right; right: 0; width: 300px;">
    <div class="element">
      <a href="{% url 'posts:show-comments' post.pk %}" class="link-text">
        <p class="link-text">Ir a la publicación</p>
      </a>
    </div>

    <hr class="divisor">

    <div class="element">
      <a href="{% url 'users:profile' post.user.username %}" class="link-text">
        <p class="link-text">Ver perfil</p>
      </a>
    </div>

    {% if post.user == request.user %}

    <hr class="divisor">

    <div class="element">
      <a href="{% url 'posts:delete' post.pk %}" class="link-text">
        <p class="link-text">Eliminar este post</p>
      </a>
    </div>

    {% endif %}

  </div>
</div>