
<style>


.search-input{
    display: flex;
    width: 15em;
    height: 20px;
    border:  0.5px solid #8fabbf;
    border-radius: 3px;
    background-color: whitesmoke;
    margin: 5px;
    margin-left: 0.5em;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 10px;
    color: #477799;
    padding: 0 5px;
}
</style>

<form action="{% url 'users:search-results' %}" method="POST">
    {% csrf_token %}

    <input class="search-input" name="username" placeholder="Buscar" >

    <input type="submit" 
       style="position: absolute; left: -9999px; width: 1px; height: 1px;"
       tabindex="-1" />

</form>








