<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include 'icon.html' %}
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    
    {% block title %}
    {% endblock %}

    {% load static %}
    {% block css %}
    {% endblock %}
</head>
<body>

    <div class="full-register">
        <div class="register">

            <h2 class="icon">Instaclonegram</h2>
            
            {% block register-form %}
            {% endblock %}
            </div>
        
            <div class="register">
                {% block register-option %}
                {% endblock %}
            </div>
            
           
    </div>
    
</body>
</html>