{% extends 'base.html' %}

{% block title %}
<title>Contactos</title>
{% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/users/contacts.css' %}">
{% endblock %}

{% block content %}

<div class="contacts-container">

    <div class="contacts">
        {% if not contacts %}
        <p>Aun no hay contactos</p>
        {% else %}
        {% for user in contacts %}
        <div class="contact-data">
            <div class="left-elements">
                <a class="profile-link" href="{% url 'users:profile' user %}">
                    {% if user.profile.picture %}
                    <img class="contact-image" src="{{user.profile.picture.url}}" width="30px">
                    {% else %}
                    <img class="contact-image" src="{% static 'images/default-profile.png' %}" width="30px">
                    {% endif %}
                </a>
                
                <div class="contact-name">
                    <a class="profile-link" href="{% url 'users:profile' user %}">
                        <p class="username"><strong>@{{user}}</strong></p>
                    </a>
                    
                    <p class="name">{{user.first_name}} {{user.last_name}}</p>
                </div> 
            </div>
        
            {% comment %}
            {% include "users/follow_button.html"%}
            {% endcomment %}

        </div>
       
        {% endfor %}
        {% endif %}

    </div>
    
</div>

{% endblock %}