{% load static %}
<link rel="stylesheet" href="{% static 'css/users/follow_button.css' %}">

{% if user == request.user %}
<button class="follow-button">
    <a href="{% url 'users:update-profile' %}">
        <strong>Editar perfil</strong>
    </a>
</button>

{% elif follow.followed == user %}
<button class="follow-button">
    <a href="{% url 'users:unfollow' user.username %}">
        <strong>Dejar de seguir</strong>
    </a>
</button>
{% else %}
<button class="blue-follow-button">
    <a href="{% url 'users:follow' user.username %}">
        <strong>Seguir</strong>
    </a>
</button>
{% endif%}
