{% extends 'base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/users/profile.css' %}">
{% endblock %}

{% block title %}
<title>{{user.first_name}} @{{user.username}}</title>
{% endblock %}

{% block content %}

<div class="profile-container">

    <div class="user-info-container">
        <a href="">
            {% if user.profile.picture %}
            <img class="profile-picture" src="{{user.profile.picture.url}}" width="150px" height="150px">
            {% else %}
            <img class="profile-picture" src="{% static 'images/default-profile.png' %}" width="150px" height="150px">
            {% endif%}
        </a>
        <div class="info-rows">
            <div class="info-first-row">
                <p class="info-username">{{user.username}}</p>
                {% include "users/follow_button.html" %}
                {% include "users/settings_icon.html" %}
            </div>
            <div class="info-second-row">
                        <p><strong>{{user.n_posts}}</strong> publicaciones</p>

                        <a href="{% url 'users:followers' user.username %}" class="contacts_link">
                            <p><strong>{{user.n_followers}}</strong> seguidores</p>
                        </a>
                    
                        <a href="{% url 'users:followed' user.username %}" class="contacts_link">
                            <p><strong>{{user.n_followed}}</strong> seguidos</p>
                        </a>     
            </div>
            
            <p class="profile-data"><strong>{{user.first_name}} {{user.last_name}}</strong></p>
            <p class="profile-data">{{user.profile.biography}}</p>
            
        </div>
    </div>

    <div class="user-posts">
        {% if not user.posts%}
        <p class="text">Publica un post para ver contenido aquí</p>
        {% else %}
        {% for post in user.posts %}
<a href="{% url 'posts:show-comments' post.pk %}">
<img class="user-pic" src="{{post.picture.url}}" alt="" width="293px" height="293px"></a>    
        {% endfor %}
        {% endif %}
    </div>

</div>

{% endblock %}