{% if user == request.user %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/posts/dropdown_base.css'%}">

<div class="dropdown">
    <button class="dropbtn">
    <img class="settings-icon" src="{% static 'images/settings.png'%}">
    </button>
    
    <div class="dropdown-content" style="float:left; left: 0; width: 300px;">
      <div class="element">
        <a href="{% url 'posts:show-saved' %}" class="link-text">
          <p class="link-text">Guardados</p>
        </a>
      </div>

      <hr class="divisor">
      
      <div class="element">
      <a href="{% url 'users:logout' %}" class="link-text">
        <p class="link-text">Cerrar sesión</p>
      </a>
      </div>
      
    </div>
  </div>


{% endif %}