{% load static %}
{% if user == request.user %}

<style>
.dropbtn {
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #8fabbf;
  border: 1px solid #8fabbf;
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #8fabbf;
  width: 250px;
}

.link-text{
  color: black;
  font-family: 'Varela', sans-serif;
  font-size: 0.8em;
  font-weight: inherit;
  text-align: center;
}

.dropdown-content a:hover {background-color: #8fabbf;;}

.dropdown:hover .dropdown-content {display: block;}

</style>


<div class="dropdown">
    <button class="dropbtn">
    <img class="settings-icon" src="{% static 'images/settings.png'%}">
    </button>
    
    <div class="dropdown-content">
      <a href="#" class="link-text">Cambiar contraseña</a>
      <a href="{%url 'users:update-profile'%}" class="link-text">Editar</a>
      <a href="{% url 'users:logout' %}" class="link-text">Cerrar sesión</a>
    </div>
  </div>


{% endif %}