{% extends 'users/base.html' %}

{% block title %}
<title>Signup</title>
{% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/users/login_signup.css'%}">
{% endblock %}

{% block register-form %}

<div class="form-container">

    <form action="{% url 'signup' %}" method="POST">
        {% csrf_token %}

            {% comment %}
                {% if form.errors %}
                    <p>{{form.errors}}</p>
                {% endif %}
            {% endcomment %}

            {% for field in form %}
                {{field}}

            {% endfor %}

            {%if form.errors %}
                {% for error in errors %}
                    <p class="errorlist">{{error}}</p>
                {% endfor %}
            {% endif %}

            <button type="submit" class="form-button">
                <p>Registrarse</p>
            </button>

    </form>

    

</div>

{% endblock %}

{% block register-option %}
<div class="form-elements-container">
    <p class="register-option">
        ¿Tienes una cuenta? <a href="{% url 'login' %}"><strong>Inicia sesión</strong></a>
    </p>
</div>
{% endblock %}